body{

font-family:Arial;
background:#111;
color:white;
text-align:center;

}

.card{

background:#222;
padding:20px;
margin:40px auto;
width:300px;
border-radius:10px;

}

button{

padding:10px;
margin:5px;
cursor:pointer;

}